#rootPhoneNumberTable{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

#numberTable {
  width: 40%;
  border-collapse: collapse;
  margin-top: 1em;
}

#searchBar {
    min-width: 15em;
    max-width: 30em;
}